body {
  background-color: salmon;
  font-family: sans-serif;
  display: flex;
  align-items: center;
}

.destaque {
  color: red;
}

a {
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.borda-main {
  border: solid black 10px;
  display: flex;
}

.borda-menu {
  /* nav */
  border-right: 10px;

  border-color: black;
  border-style: solid;
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: lemonchiffon;
  justify-content: space-around;
  align-items: center;
}

.conteudo {
  width: 55%;
  background-color: lavender;
  align-items: center;
}
